{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Terminal</title>
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/terminal.css" %}">
</head>
<body>
    <div class="terminal_head">

    </div>
    <div class="terminal_body">
        <div class="body_left"></div>
        <div class="body_right">
            <div class="row cmd_input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input command..." name="cmd">
                    <span class="input-group-btn">
                        <button id="input_icon" class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-saved"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.row -->
        </div>
    </div>
</body>
<script src="{% static "dist/js/jquery-3.1.1.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "dist/js/bootstrap.js" %}"></script>
<script src="{% static "js/terminal.js" %}"></script>
</html>